body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2rem;
    display: f;
}

a {
    display: inline-block;
    margin-right: 50px;
    background: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background: #0056b3;
}
